{% extends "blog/base.html" %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" action="{% url 'add_blog' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="text text-center"> Blog Manager </h2>
        <h3>add a new blog</h3>
            <hr>
            <div class="form-group">
                <label>Blog Title: </label>
                <input name="blog_title" value="{{blog.blog_title}}" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Blog Entry</label>
                <textarea name="blog_entry" class="form-control" required>{{blog.blog_entry}}</textarea>
            </div>
            <div class="form-group">
                <label>Blog Image</label>
                <input name="blog_image" type="file" class="form-control">
            </div>
            <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success">Add Blog</button>
        <a href="{% url 'blog' %}" class="btn btn-danger" 
            onclick="return confirm('Are you sure you want to cancel adding a new blog?');">
                <i class="bi bi-trash"></i> Cancel </a>
            </div>
    </form>
</div>

{% endblock %}